<html>

<head>
    <title>View</title>
    <script type="text/javascript">
        const startTime = {{ start_time }}
        function display_c() {
            var refresh = 1000;
            mytime = setTimeout('display_ct()', refresh)
        }

        function display_ct() {
            var x = new Date()
            document.getElementById('ct').innerHTML = x;
            document.getElementById('since').innerHTML = Math.floor((new Date().getTime() - (startTime * 1000)) / 1000);
            display_c();
        }
    </script>
</head>
<body onload=display_ct();>
    <span id='ct'></span>
    <br/>
    Seconds since Login: <span id='since'></span>
    <button type="button"><a href="{{ url_for('logout') }}"" style="text-decoration: none;">Logout</a></button>
</body>
</html>
